.app-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--darker);
  overflow-y: scroll;
  overflow-x: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 0.25rem;
    // pointer-events: auto;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 0.4rem;
    background-color: var(--darker);
    // pointer-events: auto;
    &:hover {
      background-color: var(--medium);
    }
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: var(--light);
    border-radius: 0.4rem;
    // pointer-events: auto;
    &:hover {
      background-color: var(--lightest);
    }
  }
}

.scrollbar {
  overflow-y: scroll;
  margin-right: 0.2rem;
  padding-left: 0.7rem;
  padding-right: 0.25rem;
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--lightest);
    }
  }
  /* width */
  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 0.4rem;
    background-color: var(--dark);
    &:hover {
      background-color: var(--medium);
    }
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: var(--light);
    border-radius: 0.4rem;
    &:hover {
      background-color: var(--lightest);
    }
  }
}

.app-content {
  width: auto;
  height: auto;
  //background-color: green;
  position: relative;
  z-index: 0;
  margin: 1rem;
  // pointer-events: none;
}

@media (min-width: 1921px) {
  .app-content {
    margin-top: 10.8rem;
  }
  .profile {
    transform: scale(2, 2);
    transform-origin: top center;
  }
}

@media (min-width: 2560px) {
  .app-content {
    margin-top: 15.8rem;
  }
  .profile {
    transform: scale(2.5, 2.5);
    transform-origin: top center;
  }
}

@media (min-width: 4095px) {
  .app-content {
    margin-top: 20.8rem;
  }
  .profile {
    transform: scale(3, 3);
    transform-origin: top center;
  }
}
