.menuWrap {
    margin-top: 20px;
    padding: 10px;
    padding-top: 20px;
    display: inline-block;
    font-weight: bold;
    background: rgba(22, 96, 135,0.8);
    border-radius: 10px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(75, 201, 182, 0.1);
}

.menuCurlyLeft {
    display: inline-block;
    height: 75px;
    width: 75px;
    vertical-align: top;
    animation-name: shringLeft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0.6;
}
@keyframes shringLeft {
    0%   {padding-left: 0vmin;}
    50% {padding-left: 1vmin;}
    100% {padding-left: 0vmin;}
}

.menuCurlyRight {
    display: inline-block;
    height: 75px;
    width: 75px;
    vertical-align: top;
    animation-name: shringRight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0.6;
}
@keyframes shringRight {
    0%   {padding-right: 0vmin;}
    50% {padding-right: 1vmin;}
    100% {padding-right: 0vmin;}
}


.divMenuActive {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
.divMenuActive img {
    height: 75px;
}
.divMenuActive font {
    display: block;
    font-size: 12px;
    color: #65c99a;
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.divMenuInactive {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.7;
    color: rgba(98, 185, 209, 0)!important;
}
.divMenuInactive:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    opacity: 1;
    color: rgba(98, 185, 209, 1)!important;
}
.divMenuInactive img {
    height: 50px;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    opacity: 0.7;
    animation: spin 6s linear infinite;
}
.divMenuInactive img:hover {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}
.divMenuInactive font {
    display: block;
    font-size: 10px;
}




.projectBoxWrap {
    width: 100%;
    position: relative;
}
.projectInfoWrap {
    display: block;
    background: rgba(42, 173, 153,0.9);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 1px 0px;
    border-color: rgba(22, 96, 135, 0.7);
}
.projectBigImage {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-image: url("./images/background_project_avatar_hover.png");
}
.btn-group-project .button {
    background-color: rgba(22, 96, 135,0.8);
    border: 1px solid rgba(75, 201, 182, 0.1);
    color: #40dbc4;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.btn-group-project .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.btn-group-project .button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group-project .button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.btn-group-project .button:hover {
    background-color: rgba(18, 85, 120,0.9);
    border-color: rgba(75, 201, 182, 0.2);
}




.projSelectInfo {
    display: inline-block;
    color: #bcdb65;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(22, 96, 135,0.97);
    font-size: 15px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.projSelectInfo img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 2px;
}

.projectsWrapper {
    width: 100%;
    display:block;
}

.projectsWrap {
    position: relative;
    text-align: center;
    display: block;
    /*background: rgba(42, 173, 153, 0.8);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) ;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) ;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) ;*/
}

.projectHoneycomb {
    color: #f0fff9;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    background-size: cover;
    background-image: url("./images/backgr_honey_big_000000.png");
    position: absolute;
    cursor: pointer;
}

.projectHoneycomb:hover {
    background-size: cover;
    background-image: url("./images/backgr_honey_big_big_000000.png");
    color: #f0fff9;
    font-weight: bold;
}

.projectHoneycombSelected {
    background-size: cover;
    background-image: url("./images/backgr_honey_big_big_000000.png");
    font-weight: bold;
    position: absolute;
    color: #f0fff9;
    cursor: pointer;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}
.projectHoneycombSelected:hover {
    color: #f0fff9;
}
.projectHoneycombSelected .techsWrap {
    /*background-color: rgba(21, 80, 114, 0.9);*/
    background-color: rgba(207, 241, 255, 0.9);
    border: 1px solid rgba(112, 213, 255, 0.2);
}
.projectHoneycombSelected .techsWrap img {
    opacity: 1;
}







.aboutWrapper {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}
.aboutInfo {
    color: #2aad99;
    background: rgba(22, 96, 135,0.8);
    border-radius: 10px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    border: 4px solid rgba(77, 210, 255, 0.9);
    overflow: hidden;
    color: #f5f5f5;
    font-weight: 400;
    text-align: left;
    font-size: 15px;
    text-shadow: 1px 1px 2px rgba(0, 117, 39, 1);
    width: 250px;
    padding: 10px;
}
.aboutImage {
    /*opacity: 0.97;*/
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid rgba(77, 210, 255, 0.85);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}







.contentWrap {
    width: 100%;
    display: block;
}

.pageWrap {
    background: url("./images/bgr_page.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 20px;
}

.techsWrap {
    /*background-color: rgba(21, 80, 114, 0.7);*/
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(69, 74, 77, 0.1);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}
.techsWrap img {
    opacity: 0.9;
}
.projectHoneycomb:hover .techsWrap {
    /*background-color: rgba(21, 80, 114, 0.9);*/
    background-color: rgba(207, 241, 255, 0.8);
    border: 1px solid rgba(69, 74, 77, 0.2);
}
.projectHoneycomb:hover .techsWrap img {
    opacity: 1;
}



.footer {
    display: inline-block;
    color: #2aad99;
    padding: 20px;
    margin-top: 20px;
    background: rgba(22, 96, 135,0.8);
    border-radius: 10px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(75, 201, 182, 0.1);
}
.contactsWrap {
    display: inline-block;
}
.contact {
    margin-left: 20px;
    margin-right: 20px;
}
.contact img {
    width: 50px;
    height: 50px;
}
.contact:hover img {
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .footer {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}

/*Video*/
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Gallery*/
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }