#root {
  position: relative;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  position: relative;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --dark-theme: #9a00d6;
  --light-theme: #ffd700;
  --coffee-theme: #db8127;
}
